
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* 시작 */

.body {
  background: rgb(20, 20, 20);
  color: white;
  font-family: "Poppins", sans-serif;
  display: block;
}

.navbar{
  margin-top: 0;
  background: transparent;
}

.nav {
    background: transparent;
    display: block;
    /* border: 3px solid yellow; */
    display: flex;
    color: white;
    background-image: 
    linear-gradient(
        180deg,
        rgba(0,0,0,.7) 10%,transparent);
  }
  
  .nav-link-active {
    color: rgb(255, 255, 255);
    font-weight: bold;
    cursor: default;
  }
  
  .nav-link {
    color: rgba(255, 255, 255, 0.892);
    font-weight: light;
    font-size: 0.87rem;
    /* padding-right: 0.5rem; */
  }

  .nav-link:hover{
    color: rgba(255, 255, 255, 0.644);
    transition-duration: 0.3s;
  }
  
  .nav-colored {
    background: rgb(20, 20, 20);
    /* border: 3px solid red; */
    display: flex;
    color: white;
  }
  
  .container-fluid {
    /* border: 3px solid red; */
    padding: 0 3.5rem 0 3.5rem;
  }
  
  #logo {
    width: 5.7rem;
    height: 100%;
    /* border: 3px solid green; */
    padding: 0.6rem 0 0.2rem 0;
    margin-right: 1.5rem;
  }
  
  .form-control {
    display: flex;
    position: absolute;
    left: 64.2%;
    top: 25%;
    background-color: rgba(0, 0, 0, 0.807);
    border: 1px solid white;
    border-radius: 0px;
    width: 17.1875rem;
    height: 2.1875rem;
    font-size: 0.85rem;
    color: white;
  }

  .form-control:focus {
    background-color: rgba(0, 0, 0, 0.807);
    border-color: white;
    box-shadow: none;
    color: white;
    text-indent: 0.5rem;
  }

  .form-control::placeholder {
    color: white;
  }

  .searchBar::placeholder {
    color: gray;
    /* padding-left: 1rem; */
    text-indent: 0.5rem;
  } 
  
  .searchBtn {
    z-index: 10;
    position: absolute;
    top: 50%;
    left: 81%;
    transform: translateY(-50%);
    padding-right: 2rem;
  }

  .btn-outline-success {
    color: white;
    border: 0px;
    background-color: transparent;
  }
  
  #search {
    display: none;
  }

  .navbar_right {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    right: 0.3125rem;
  }

  .nav-item-kids, .nav-item-notification, .nav-item-profile {
    cursor: pointer;
  }

  .nav-item-notification .btn-secondary {
    --bs-btn-bg: none;
    --bs-btn-border-color: none;
  }
  
  .nav-item-notification .btn-secondary:hover {
    --bs-btn-hover-bg: none;
  }
  
  .nav-item-kids {
    /* border: 1px solid white; */
    font-size: 0.875rem;
    text-decoration: none;
    color: white;
    padding: 0 1.3rem 0 0;
  }

  .nav-item-notification {
    /* border: 1px solid white; */
    padding-right: 1.3rem;
  }

  .nav-item-profile {
    display:flex;
    width: 45px;
    /* border: 1px solid white; */
  }

  .nav-item-profile img {
    width: 100%;
    border-radius: 10%;
    /* border: 1px solid white; */
  }

  #navbarScrollingDropdown {
    /* border: 1px solid white; */
    position: relative;
    top: 25%;
    font-size: 1.05rem;
    padding: 0.1rem 0 0 0.6rem;
  }
  
  .nav-item-profile li {
    list-style: none;
  }
  
  .dropdown-toggle {
    color: white;
  }
  
  /* .caret.caret-up {
    border-top-width: 0;
    border-bottom: 4px solid #fff;
  } */
  
  .dropdown .dropdown-menu {
    background-color: rgb(42, 45, 54);
    color: white;
    font-size: small;
    margin-left: -80px;
    margin-top: 10%;
    border: 1px solid white;
  }
  
  .dropdown-menu a {
    color: white;
  }